<!DOCTYPE html>
<html>

<head>
    <title>Create a new post</title>
</head>

<body>
    <h1>hey. EAT THIS!</h1>
    <form method="POST">
        <label for="location">Where you at!?:</label>
        <input type="text" id="title" name="title" placeholder="Enter a location(city, or zip-code)"><br><br>
        <label for="category">What you want?!:</label>
        <input type="text" id="category" name="category" placeholder="e.g. Italian, Thai, etc."><br><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50"></textarea><br><br>
        <input type="submit" value="Create">
    </form>
</body>

</html>