{% extends "base.html" %}

{% block content %}
<h1>Eat What?</h1>
<p>Enter your location and a food category, and we'll decide where you should eat!</p>
<form method="post" action="{{ url_for('decide_for_me') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.user_local.label }} {{ form.user_local(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.category.label }} {{ form.category(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}